Package: com.ethanarbuckle.notifpop
Name: NotificationPop
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Force touch to invoke a notification
Maintainer: Ethan Arbuckle
Author: Ethan Arbuckle
Section: Tweaks
